﻿@model IEnumerable<SuccessiveDotNetTest.Models.ViewDataModel>

@{
    ViewBag.Title = "ScheduleInterviewDetails";
}

<h2>ScheduleInterviewDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h4 class="text-center text-uppercase">Candidate Record List</h4>
<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Experience</th>
        <th>Scheduled Date and Time</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.candidate.FirstName @item.candidate.LastName</td>
            <td>@item.candidate.Email_Id</td>
            <td>@item.candidate.Experience</td>
            <td>@item.schdeule.Scheduled_Date @item.schdeule.TimeFrom @item.schdeule.TimeTo</td>
        </tr>
    }

</table>
